.container {
    background-color: rgb(222, 222, 222);
    margin-top: 50px;
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    height: 600px;
}

.provide-img {
    margin: 10px 0px;
    border-radius: 5px;
    flex: 1;
    object-fit: cover;
}

.provide-text-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.header {
    font-size: 60px;
    font-weight: bold;
}

.provide-header {
    font-size: 50px;
    font-weight: bold;
}

.provide-subheader {
    font-size: 40px;
}

.items {
    margin-top: 10px;
    font-size: 20px;
    line-height: 40px;
}

@media (max-width: 1415px) {
    .provide-img {
        width: 50%;
    }

    .header {
        text-align: center;
        font-size: 50px;
        font-weight: bold;
    }
    
    .subheader {
        text-align: center;
        font-size: 40px;
    }
    
    .items {
        font-size: 16px;
        line-height: 30px;
    }
}

@media (max-width: 1090px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .provide-img {
        width: 100%;
        height: 100px;
    }
}

@media (max-width: 700px) {
    .container {
        height: auto;
    }
}   

.process-container {
    height: 800px;
}

.process-text-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.process-img {
    margin: 10px 0px;
    border-radius: 5px;
    object-fit: cover;
    width: 40%;
}

.process-items li{
    margin-top: 15px;
}

.process-header {
    font-size: 50px;
    font-weight: bold;
}

.process-subheader {
    font-size: 40px;
}

@media (max-width: 1780px) {
    .process-header {
        font-size: 40px;
    }
    
    .process-subheader {
        font-size: 30px;
    }

    .process-items{
        font-size: 16px;
        line-height: 30px;
    }
}

@media (max-width: 1300px) {
    .process-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .process-img {
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 700px) {
    .process-container {
        height: auto;
    }
}   